<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="renderer" content="webkit">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="stylesheet" href="./uwd-theme-dark.css" id="dark-css"/>
    <% var stylesheets = htmlWebpackPlugin.options.stylesheets || [] %>
    <% for(var i = 0; i < stylesheets.length; i++) { %>
    <link rel="stylesheet" href="<%= stylesheets[i] %>">
    <% } %>
</head>
<body>
<div id="cade-app"></div>
<script type="text/javascript" src="lib/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="lib/react/dist/react.min.js"></script>
<script type="text/javascript" src="lib/react-dom/dist/react-dom.min.js"></script>
<% var scripts = htmlWebpackPlugin.options.scripts || [] %>
<% for(var i = 0; i < scripts.length; i++) { %>
<script type="text/javascript" src="<%= scripts[i] %>"></script>
<% } %>
</body>
</html>